:root
{
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
}

body
{
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    flex-direction: column;
}

body div
{
    box-sizing: border-box; 
}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header
{
    background-color: var(--primary-color);
    padding: 15px;
    text-align: center;
    color: white;
}


.product-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.main-shop
{   
    flex: 3;
    padding: 20px;
    background-color: red;
    background-color: var(--secondary-color);
}

.aside
{
    flex: 1;
    padding: 5px;
    background-color: pink;
}

.left-menu
{
    background-color: #f4f4f4;
    padding: 15px;
    width: 20%;
}

nav > ul
{
    display: flex;
    flex-direction: horizontal;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li > a
{
    text-decoration: none;
}

nav > ul > li > a:visited
{
    text-decoration: none;
    color: white;
}

.main-navigation
{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}


.main-navigation .nav-item
{
    padding: 10px;
    margin: auto;
    display: inline-block;
    text-align: center;
    border: 1px solid white;
    text-decoration: none;
    
    /*margin-right: 15px;*/
}

.main-navigation .nav-item:hover
{
    padding: 10px;
    margin: auto;
    display: inline-block;
    text-align: center;
    border: 1px solid white;
    text-decoration: none;
    background-color: #2773a5;
    
    /*margin-right: 15px;*/
}

.event-item
{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #fafafa;
}